apiVersion: 1
groups:
    - orgId: 1
      name: cv-monitoring
      folder: Computer Vision
      interval: 1m
      rules:
        - uid: cv-db-disconnected
          title: Database Disconnected
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: prometheus
              model:
                editorMode: code
                expr: cv_database_connected
                instant: true
                intervalMs: 1000
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 1
                        type: lt
                      reducer:
                        type: last
                      type: query
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                type: threshold
          dashboardUid: ""
          panelId: 0
          noDataState: Alerting
          execErrState: Alerting
          for: 1m
          annotations:
            description: L'API ne peut plus accéder à PostgreSQL
            summary: Base de données PostgreSQL déconnectée
          labels:
            severity: critical
          isPaused: false
    - orgId: 1
      name: feedback_alert
      folder: Computer Vision
      interval: 1m
      rules:
        - uid: bf4lkiz1v7pj4e
          title: ' feedback positif trop faible'
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 3600
                to: 0
              datasourceUid: prometheus
              model:
                adhocFilters: []
                datasource:
                    type: prometheus
                    uid: prometheus
                editorMode: builder
                expr: cv_user_feedback_total
                instant: true
                interval: ""
                intervalMs: 10000
                legendFormat: __auto
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 50
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: cv-cats-dogs-workshop
          panelId: 3
          noDataState: NoData
          execErrState: Error
          for: 10m
          keepFiringFor: 10m
          annotations:
            __dashboardUid__: cv-cats-dogs-workshop
            __panelId__: "3"
            summary: Taux de satisfaction trop faible, revoir le modèle !
          isPaused: false
          notification_settings:
            receiver: Discord CV Alerts
